# if you update this, please also update ini/sl/merge.ini
Cargo.lock linguist-generated=true text -diff
Cargo.Bazel.lock linguist-generated=true text -diff
MODULE.bazel.lock linguist-generated=true text -diff
pnpm-lock.yaml linguist-generated=true text -diff
