{
	"semi": false,
	"tabWidth": 4,
	"printWidth": 80,
	"singleQuote": true,
	"trailingComma": "all",
	"jsxBracketSameLine": true,
	"quoteProps": "as-needed",
	"bracketSpacing": true,
	"useTabs": true
}
