*	@zemnmez


# list of files that dependabot might change
/cargo-bazel-lock.json @zemnmez-renovate-bot @zemnmez
/go.mod @zemnmez-renovate-bot @zemnmez
/go.sum @zemnmez-renovate-bot @zemnmez
/pnpm-lock.yaml @zemnmez-renovate-bot @zemnmez
/package.json @zemnmez-renovate-bot @zemnmez
/Cargo.Bazel.lock @zemnmez-renovate-bot @zemnmez
/Cargo.toml @zemnmez-renovate-bot @zemnmez
/renovate.json @zemnmez-renovate-bot @zemnmez
/requirements.in @zemnmez-renovate-bot @zemnmez
/requirements.txt @zemnmez-renovate-bot @zemnmez
/bzl/deps.bzl @zemnmez-renovate-bot @zemnmez


