*	@zemnmez

# personal pages
/ts/pulumi/shadwell.im/luke/* @zemnmez # @steadyon
/ts/pulumi/shadwell.im/kate/pages/* @zemnmez # @quailemu
/ts/pulumi/shadwell/im/kate/pages/_app.tsx @zemnmez
/ts/pulumi/shadwell/im/kate/pages/_document.tsx @zemnmez
/ts/pulumi/lulu.computer/app/* @zemnmez # @lulutries

# list of files that dependabot might change
# gotta all be owned by me until https://github.com/orgs/community/discussions/9636
/cargo-bazel-lock.json @zemnmez
/go.mod @zemnmez
/go.sum @zemnmez
/pnpm-lock.yaml @zemnmez
/package.json @zemnmez
/Cargo.Bazel.lock @zemnmez
/Cargo.toml @zemnmez
/renovate.json @zemnmez
/requirements.in @zemnmez
/requirements.txt @zemnmez
/bzl/deps.bzl @zemnmez


