# to update this file, run
# bazel run fix //:\*
# this should probably be a diff test at some point...
yamllint
pip-tools
sectxt
ruff
mypy
jupyter
sympy
pip
notebook
jupyterlab
ipython
ipykernel
jupyter-console
nbconvert
ipywidgets
