
.Timeline {
    display: grid;
    grid-template-columns: repeat(auto-fill,
        21em);
    justify-content: space-around;
}

.Year article > time {
    text-align: center;
    display: block;
}

.Month {
    margin: 0 0 2em 0;
}

.Month::before { content: attr(data-month); opacity: .7 }

.Event {
    margin: 0 0 1rem 1.3em
}

.Event a:link {
    text-decoration: none;
    border-bottom: 1px solid black;
}


.StretchArea {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
}

.VerticalStretchIndicator {
    display: grid;
    grid: "." fit-content(4rem) "line" 1fr "." fit-content(4rem)/ 1fr;
}

.VerticalStretchIndicator::before {
    content: "";
    grid-area: line;
    height: 100%;
    display: block;
    border-left: 1px dotted black;
    margin: auto;
}