# yaml-language-server: $schema=https://spec.openapis.org/oas/3.0/schema/2024-10-18
openapi: 3.0.3
info:
  title: Bowery Bugle API
  version: 1.0.0
  description: >-
    Public issue archive and author-only PDF publishing. The website and API
    use separate origins. Browser requests include credentials; mutations require
    the configured website Origin. PDFs upload directly to the signed storage
    URL, then become public only after publication validates the stored version.
servers:
  - url: https://api.bowerybugle.nyc
    description: Production
  - url: https://api.bowerybugle.staging.zemn.me
    description: Staging
security:
  - AuthorSession: []
tags:
  - name: Archive
  - name: Authentication
  - name: Publishing
paths:
  /api/issues:
    get:
      operationId: ListIssues
      tags: [Archive]
      security: []
      summary: List issues, newest first
      description: Issues without a PDF omit both pdf and size.
      responses:
        '200':
          description: Current archive, including issues without PDFs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueList'
        default:
          $ref: '#/components/responses/Error'
    post:
      operationId: AddIssue
      tags: [Publishing]
      summary: Add an issue without a PDF
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddIssueRequest'
      responses:
        '200':
          $ref: '#/components/responses/Saved'
        '409':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /api/issues/{number}:
    parameters:
      - $ref: '#/components/parameters/IssueNumber'
    delete:
      operationId: DeleteIssue
      tags: [Publishing]
      summary: Remove an issue and its public PDF link
      description: Invalidates uploads begun before the deletion.
      responses:
        '200':
          $ref: '#/components/responses/Saved'
        '404':
          $ref: '#/components/responses/Error'
        '409':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /api/issues/{number}/pdf:
    parameters:
      - $ref: '#/components/parameters/IssueNumber'
    get:
      operationId: ReadPDF
      tags: [Archive]
      security: []
      summary: Read an issue's published PDF
      description: Redirects to a short-lived URL for the immutable published object version.
      responses:
        '302':
          description: Published PDF download location.
          headers:
            Location:
              required: true
              schema: {type: string, format: uri}
        '404':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
    delete:
      operationId: RemovePDF
      tags: [Publishing]
      summary: Remove the PDF while keeping the issue
      description: Invalidates uploads begun before this change.
      responses:
        '200':
          $ref: '#/components/responses/Saved'
        '404':
          $ref: '#/components/responses/Error'
        '409':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /api/login:
    post:
      operationId: RequestLogin
      tags: [Authentication]
      security: []
      summary: Request an author login email
      description: >-
        Returns the same accepted response for other email addresses without
        sending mail. The email identifies the end of the current 12-hour TOTP
        window. Requests to the author address are rate limited.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '202':
          description: Request accepted; does not disclose the configured author.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginAccepted'
        '429':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /api/login/confirm:
    post:
      operationId: ConfirmLogin
      tags: [Authentication]
      security: []
      summary: Exchange an emailed code for a session cookie
      description: >-
        Codes are reusable within the current 12-hour window; adjacent windows
        are not accepted. The code is sent in the body, never a URL. Sessions
        expire after seven days. Invalid attempts are rate limited.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginConfirmation'
      responses:
        '200':
          description: Logged in.
          headers:
            Set-Cookie:
              $ref: '#/components/headers/SessionCookie'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
        '400':
          $ref: '#/components/responses/Error'
        '429':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /api/session:
    get:
      operationId: GetSession
      tags: [Authentication]
      security: []
      summary: Check the optional session cookie
      responses:
        '200':
          description: Current authentication state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
        default:
          $ref: '#/components/responses/Error'
  /api/logout:
    post:
      operationId: Logout
      tags: [Authentication]
      security: []
      summary: Revoke the current session and clear its cookie
      responses:
        '200':
          description: Logged out, including when the session had already expired.
          headers:
            Set-Cookie:
              $ref: '#/components/headers/SessionCookie'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
        default:
          $ref: '#/components/responses/Error'
  /api/uploads:
    post:
      operationId: PrepareUpload
      tags: [Publishing]
      summary: Prepare a PDF upload for an existing issue
      description: >-
        Upload expires after 15 minutes. POST the returned fields and then the
        file as multipart/form-data to url, without API cookies. Call PublishUpload
        only after storage accepts the upload. This step does not alter the archive.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepareUploadRequest'
      responses:
        '200':
          description: Signed storage POST and upload identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Upload'
        '404':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
  /api/uploads/{id}/publish:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: '^[A-Za-z0-9_-]{43}$'
        description: Opaque identifier returned by PrepareUpload.
    post:
      operationId: PublishUpload
      tags: [Publishing]
      summary: Validate an uploaded PDF and publish its immutable version
      description: >-
        Validates the actual object size, PDF content type, and PDF signature.
        Atomically consumes the upload and rejects concurrent issue changes.
        Replaces the existing PDF only on success; changes are immediately public.
      responses:
        '200':
          description: Updated issue.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Issue'
        '400':
          $ref: '#/components/responses/Error'
        '409':
          $ref: '#/components/responses/Error'
        default:
          $ref: '#/components/responses/Error'
components:
  securitySchemes:
    AuthorSession:
      type: apiKey
      in: cookie
      name: __Host-bugle-session
      description: >-
        Opaque server-side session; Secure, HttpOnly, SameSite=Strict, Path=/,
        with no Domain attribute. Browser callers must use credentials=include.
  headers:
    SessionCookie:
      required: true
      description: Sets or expires the secure author session cookie.
      schema: {type: string}
  parameters:
    IssueNumber:
      name: number
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/IssueNumber'
  responses:
    Error:
      description: >-
        JSON error. 400 invalid request; 401 missing/expired author session;
        403 untrusted/missing Origin; 404 missing issue/PDF; 409 concurrent change;
        429 rate limited; 503 temporary storage/email failure.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Problem'
    Saved:
      description: Issue change saved and immediately visible.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Saved'
  schemas:
    IssueNumber:
      type: integer
      minimum: 1
      maximum: 9999
    Issue:
      type: object
      additionalProperties: false
      required: [number]
      properties:
        number:
          $ref: '#/components/schemas/IssueNumber'
        pdf:
          type: string
          description: API-relative URL for ReadPDF; absent until a PDF is published.
          x-go-name: PDF
          x-go-type-skip-optional-pointer: true
        size:
          type: integer
          format: int64
          minimum: 5
          maximum: 52428800
          description: Published PDF size in bytes; absent when no PDF is published.
          x-go-type-skip-optional-pointer: true
    IssueList:
      type: object
      additionalProperties: false
      required: [issues]
      properties:
        issues:
          type: array
          items:
            $ref: '#/components/schemas/Issue'
    Session:
      type: object
      additionalProperties: false
      required: [authenticated]
      properties:
        authenticated: {type: boolean}
    LoginRequest:
      type: object
      additionalProperties: false
      required: [email]
      properties:
        email: {type: string, minLength: 1, maxLength: 320}
    LoginAccepted:
      type: object
      additionalProperties: false
      required: [sent]
      properties:
        sent: {type: boolean}
    LoginConfirmation:
      type: object
      additionalProperties: false
      required: [token]
      properties:
        token:
          type: string
          description: Eight-digit TOTP from the email.
          pattern: '^[0-9]{8}$'
    AddIssueRequest:
      type: object
      additionalProperties: false
      required: [number]
      properties:
        number:
          $ref: '#/components/schemas/IssueNumber'
    PrepareUploadRequest:
      type: object
      additionalProperties: false
      required: [number, size]
      properties:
        number:
          $ref: '#/components/schemas/IssueNumber'
        size: {type: integer, format: int64, minimum: 5, maximum: 52428800}
    Upload:
      type: object
      additionalProperties: false
      required: [id, url, fields]
      properties:
        id: {type: string, x-go-name: ID}
        url: {type: string, format: uri, x-go-name: URL}
        fields:
          type: object
          additionalProperties: {type: string}
    Saved:
      type: object
      additionalProperties: false
      required: [saved]
      properties:
        saved: {type: boolean}
    Problem:
      type: object
      additionalProperties: false
      required: [error]
      properties:
        error: {type: string}
