.sadIcon {
	--sad-white: var(--figure-fill, white);
	--sad-black: var(--figure-stroke, black);

	fill: none;
	width: 100%;
	height: 100%;
}

.sadIcon * {
	stroke: var(--sad-black);
}

.frustum {
	fill: var(--sad-white);
}
.tear {
	fill: var(--sad-white);
}
.pupil {
	fill: var(--sad-black);
}
