
.sadIcon {
  --sad-white: var(--mgc, white);
  --sad-black: var(--bgc, black);

  fill:none;
}

@media (prefers-color-scheme: light) {
  .sadIcon {
  --sad-white: var(--bgc, white);
  --sad-black: var(--fgc, black);
  }
}

.sadIcon * { stroke: var(--sad-black) }

.frustum { fill: var(--sad-white); }
.tear { fill: var(--sad-white); }
.pupil { fill: var(--sad-black); }