
.sadIcon {
  --sad-white: var(--figure-fill, white);
  --sad-black: var(--figure-stroke, black);

  fill:none;
}

.sadIcon * { stroke: var(--sad-black) }

.frustum { fill: var(--sad-white); }
.tear { fill: var(--sad-white); }
.pupil { fill: var(--sad-black); }