.dottedDivider {
    display: grid;
    grid: ". line-left . text . line-right ." min-content/.2em 1fr 2rem min-content 2rem 1fr .2em
}

.dottedDivider::before, .dottedDivider::after {
    border-top: 1px solid currentColor;
    content: "";
    height: 0;
    margin: auto;
    width: 100%;
}

.dottedDivider::before {
    grid-area: line-left;
}

.dottedDivider::after {
    grid-area: line-right;
}

.dottedDivider > * {
    font-weight: initial;
    grid-area: text;
}