# yaml-language-server: $schema=https://spec.openapis.org/oas/3.1/schema/2025-02-13
openapi: 3.1.0
info:
  title: zemn.me API
  version: 0.0.0

servers:
  - url: https://api.zemn.me
    description: Production
  - url: http://api.staging.zemn.me
    description: Staging

components:
  securitySchemes:
    OIDC:
      type: openIdConnect
      # todo: own issuer!
      openIdConnectUrl: "https://api.zemn.me"
  schemas:
    OIDCIssuer:
      type: string
      format: uri
      description: >
        The server issuing the id_token (the `iss` field of the token).
      example:
        https://api.zemn.me
    OIDCSubject:
      type: string
      description: >
        The unique never reused identifier for a user.
      example: user_2f7a3b91c8d24a7f
    OAuthClientId:
      type: string
      description: OAuth 2.0 client identifier registered with the provider.
      example: zemn-web
    TokenExchangeTokenType: # just the supported ones!
      type: string
      description: Token type identifiers accepted by the token exchange endpoint.
      enum:
        - urn:ietf:params:oauth:token-type:access_token
        - urn:ietf:params:oauth:token-type:id_token
        - urn:ietf:params:oauth:token-type:refresh_token
    TokenExchangeRequest:
      description: RFC8693 token exchange (form-encoded)
      type: object
      required: [grant_type, subject_token, subject_token_type]
      properties:
        grant_type:
          $ref: '#/components/schemas/OAuthGrantType'
          example: urn:ietf:params:oauth:grant-type:token-exchange
        resource:
          description: Optional resource indicator (can repeat)
          nullable: true
          oneOf:
            - type: string
            - type: array
              items: { type: string }
        audience:
          description: Optional audience (can repeat)
          nullable: true
          oneOf:
            - type: string
            - type: array
              items: { type: string }
        scope:
          type: string
          nullable: true
          description: Space-delimited scopes to apply to the issued token.
        requested_token_type:
          description: >
            Desired type of the issued token.
            e.g., urn:ietf:params:oauth:token-type:access_token | id_token | refresh_token | jwt
          nullable: true
          $ref: '#/components/schemas/TokenExchangeTokenType'
        subject_token:
          type: string
          description: The token representing the subject of the request.
        subject_token_type:
          description: Type of subject_token (e.g., …:access_token, …:id_token, …:jwt, …:saml2)
          $ref: '#/components/schemas/TokenExchangeTokenType'
#        actor_token:
#          type: string
#          description: Optional actor token (on-behalf-of/impersonation)
#        actor_token_type:
#          type: string
#          description: Type of actor_token
#        requested_subject:
#          type: string
#          description: Optional identifier for desired subject (deployment-specific)
        # Standard OAuth client auth parameters if using client_secret_post:
        client_id:
          type: string
          nullable: true
          description: OAuth client identifier when using `client_secret_post`.
          example: zemn-web
        client_secret:
          type: string
          nullable: true
          description: OAuth client secret when using `client_secret_post`.
      example:
        grant_type: urn:ietf:params:oauth:grant-type:token-exchange
        subject_token: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9...
        subject_token_type: urn:ietf:params:oauth:token-type:id_token
        requested_token_type: urn:ietf:params:oauth:token-type:access_token
        audience: https://api.zemn.me
        scope: callbox_key grievance_portal
        client_id: zemn-web

    TokenResponse:
      description: OAuth 2.0 successful token response (RFC6749/RFC8693)
      type: object
      required: [access_token, issued_token_type, token_type, expires_in]
      properties:
        access_token:
          type: string
          description: >
            The returned token. For legacy reasons, it
            is always called "access_token", even if it
            is not an access token.
        issued_token_type:
          $ref: '#/components/schemas/TokenExchangeTokenType'
          description: Echoes the actual type issued (RFC8693 §2.2)
          example: urn:ietf:params:oauth:token-type:access_token
        token_type:
          type: string
          description: Token usage type understood by the client, typically `Bearer`.
          example: Bearer
        expires_in:
          type: integer
          description: Lifetime of the returned token, in seconds.
          example: 3600
        scope:
          type: string
          description: Space-delimited scopes granted in the issued token.
          example: callbox_key grievance_portal
      example:
        access_token: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9...
        issued_token_type: urn:ietf:params:oauth:token-type:access_token
        token_type: Bearer
        expires_in: 3600
        scope: callbox_key grievance_portal

    OAuthError:
      description: RFC6749 error response
      type: object
      required: [error]
      properties:
        error:
          type: string
          enum: [invalid_request, invalid_client, invalid_grant, unauthorized_client, unsupported_grant_type, invalid_scope]
        error_description:
          type: string
          description: Human-readable detail intended to help the client fix the request.
          example: subject_token_type is required
        error_uri:
          type: string
          format: uri
          description: URL with more information about the error condition.
      example:
        error: invalid_request
        error_description: subject_token_type is required
    OAuthGrantType: # just the supported ones!
      type: string
      description: OAuth grant type supported by this endpoint.
      enum:
        - urn:ietf:params:oauth:grant-type:token-exchange
    IdToken:
      type: object
      description: >
        OpenID Connect **ID Token** claims set (the payload of a signed JWT).
        Conveys who issued the token, for whom (`aud`), which subject (`sub`),
        when it expires (`exp`) and was issued (`iat`), plus optional
        authentication context (e.g., `auth_time`, `acr`, `amr`) and
        flow-specific hashes (`at_hash`, `c_hash`). Must be **JWS-signed**;
        may be JWE-encrypted (sign **then** encrypt).
      required:
        - iss
        - sub
        - aud
        - exp
        - iat
      properties:
        iss:
          $ref: '#/components/schemas/OIDCIssuer'
          description: >
            **Issuer Identifier** — HTTPS URL (case-sensitive) for the OP.
            Must exactly match the provider’s discovery `issuer`.
            **No query or fragment** allowed.
        sub:
          $ref: '#/components/schemas/OIDCSubject'
          description: >
            **Subject Identifier** — locally unique, never reassigned.
            Case-sensitive string (≤255 ASCII). Uniqueness is guaranteed only
            by the pair (`iss`, `sub`).
        aud:
          $ref: '#/components/schemas/OAuthClientId'
          description: >
            **Audience** — identifies recipients the token is intended for.
            Must include the RP’s OAuth `client_id`. Commonly a single string,
            but may be an array when multiple audiences are present.
        exp:
          type: integer
          format: int64
          description: >
            **Expiration time** (UTC seconds since 1970-01-01T00:00:00Z).
            Current time **must** be before `exp`. Small clock skew allowance is acceptable.
        iat:
          type: integer
          format: int64
          description: >
            **Issued-at time** (UTC seconds since epoch). RPs may reject tokens
            issued too far in the past to bound nonce storage and replay windows.
        jti:
          type: string
          description: >
            **JWT ID** — unique identifier for the token.
        auth_time:
          type: integer
          format: int64
          description: >
            **End-User authentication time** (UTC seconds). REQUIRED if the RP
            sent `max_age` or requested `auth_time` as an Essential Claim; otherwise OPTIONAL.
        nonce:
          type: string
          description: >
            **Nonce** to bind client session to the ID Token and mitigate replay.
            If the RP supplied a nonce in the auth request, this **must** be present
            and equal. OPs should not transform it.
        scope:
          type: string
          description: Space-delimited OAuth scopes granted to this subject.
        acr:
          type: string
          description: >
            **Authentication Context Class Reference.** String naming the assurance
            class satisfied (e.g., an absolute URI or a registered name).
            Interpreted by agreement between RP and OP.
        amr:
          type: array
          description: >
            **Authentication Methods References.** Identifiers for methods used
            (e.g., `pwd`, `otp`). Values should come from IANA AMR registry; unregistered
            values are allowed by agreement.
          items:
            type: string
        azp:
          type: string
          description: >
            **Authorized party.** If present, must equal the OAuth `client_id` to which
            this ID Token was issued. Typically occurs only with extensions.
        # Flow-dependent hashes (JWS 'alg' defines the hash function family)
        at_hash:
          type: string
          description: >
            **Access Token hash.** Base64url(left-most half of hash(ASCII(access_token))).
            REQUIRED when an Access Token is returned from the Authorization Endpoint
            (`response_type` includes `token`); OPTIONAL/omitted otherwise.
        c_hash:
          type: string
          description: >
            **Authorization Code hash.** Base64url(left-most half of hash(ASCII(code))).
            REQUIRED when an Authorization Code is returned from the Authorization Endpoint
            alongside an ID Token (Hybrid); OPTIONAL/omitted otherwise.
        # Common profile/user claims may appear here or be fetched from UserInfo:
        name:
          type: string
          description: End-User’s full display name.
        given_name:
          type: string
          description: End-User’s given/first name(s).
        family_name:
          type: string
          description: End-User’s surname(s).
        middle_name:
          type: string
          description: End-User’s middle name(s).
        nickname:
          type: string
          description: Casual name; may differ from `given_name`.
        preferred_username:
          type: string
          description: User’s preferred handle at the RP (not guaranteed unique).
        profile:
          type: string
          format: uri
          description: URL of the End-User’s profile page.
        picture:
          type: string
          format: uri
          description: URL of a profile **image** (direct image URL, not a page).
        website:
          type: string
          format: uri
          description: URL of the End-User’s website/blog.
        email:
          type: string
          description: Preferred email address (RFC 5322 `addr-spec`). Not guaranteed unique.
        email_verified:
          type: boolean
          description: >
            Whether the OP verified control of `email` at verification time (true/false).
        gender:
          type: string
          description: End-User’s gender (values often `female` / `male`; others allowed).
        birthdate:
          type: string
          description: >
            ISO 8601 date. Year may be `"0000"` to indicate omission; `YYYY` alone is allowed.
        zoneinfo:
          type: string
          description: IANA Time Zone (e.g., `Europe/Paris`, `America/Los_Angeles`).
        locale:
          type: string
          description: BCP 47 language tag (e.g., `en-GB`, `fr-CA`).
        phone_number:
          type: string
          description: Preferred phone number (E.164 recommended).
        phone_number_verified:
          type: boolean
          description: >
            Whether the OP verified control of `phone_number`. If true, number should be E.164.
        address:
          $ref: '#/components/schemas/Address'
        updated_at:
          type: integer
          format: int64
          description: >
            Seconds since epoch when End-User information was last updated.
        # Aggregated/Distributed Claims support:
        _claim_names:
          type: object
          additionalProperties:
            type: string
          description: >
            Maps claim names to source keys found in `_claim_sources` for aggregated/distributed claims.
        _claim_sources:
          type: object
          additionalProperties:
            oneOf:
              - type: object
                description: Aggregated claims (embedded as a JWT).
                properties:
                  JWT:
                    type: string
                    description: JWT carrying the aggregated claims.
                required: [JWT]
              - type: object
                description: Distributed claims (reference to an external endpoint).
                properties:
                  endpoint:
                    type: string
                    format: uri
                    description: OAuth 2.0 resource endpoint returning the claim(s) as a JWT.
                  access_token:
                    type: string
                    description: Bearer token to retrieve the distributed claims (optional).
                required: [endpoint]
      example:
        iss: "https://server.example.com"
        sub: "24400320"
        aud: "s6BhdRkqt3"
        exp: 1311281970
        iat: 1311280970
        nonce: "n-0S6_WzA2Mj"
        auth_time: 1311280969
        acr: "urn:mace:incommon:iap:silver"
        amr: ["pwd", "otp"]
        at_hash: "77QmUPtjPfzWtF2AnpK9RQ"
        c_hash: "LDktKdoQak3Pk0cnXxCltA"

    Address:
      type: object
      description: >
        Postal address claim. Providers may return only a subset. `formatted` may
        contain multiple lines (`\n` or `\r\n`).
      properties:
        formatted:
          type: string
          description: Full mailing address, formatted for display.
        street_address:
          type: string
          description: Street address (may include house number, PO Box; multi-line allowed).
        locality:
          type: string
          description: City / locality.
        region:
          type: string
          description: State / province / prefecture / region.
        postal_code:
          type: string
          description: ZIP / postal code.
        country:
          type: string
          description: Country name.
      example:
        formatted: "1234 Hollywood Blvd.\nLos Angeles, CA 90210\nUnited States"
        street_address: "1234 Hollywood Blvd."
        locality: "Los Angeles"
        region: "CA"
        postal_code: "90210"
        country: "United States"
    Link:
      type: object
      required: [rel, href]
      properties:
        rel:
          type: string
          description: Registered or extension relation describing the linked resource.
          example: http://openid.net/specs/connect/1.0/issuer
        href:
          type: string
          format: uri
          description: Absolute URL for the related resource.
          example: https://api.zemn.me
      example:
        rel: http://openid.net/specs/connect/1.0/issuer
        href: https://api.zemn.me
    JRD:
      description: |
        JSON Resource Descriptor (JRD) as defined in [RFC 6415](https://datatracker.ietf.org/doc/html/rfc6415).
        Used for WebFinger discovery.
      type: object
      required: [subject, links]
      properties:
        subject:
          type: string
          description: Identifier that was looked up, usually a URL or `acct:` URI.
          example: acct:alice@zemn.me
        links:
          type: array
          items: { $ref: '#/components/schemas/Link' }
      example:
        subject: acct:alice@zemn.me
        links:
          - rel: http://openid.net/specs/connect/1.0/issuer
            href: https://api.zemn.me
    JWK:
      type: object
      required: [kty, alg, use, crv, x, y, kid]
      properties:
        kty:
          type: string
          description: Key type.
          example: EC
        alg:
          type: string
          description: Algorithm intended for this key.
          example: ES256
        use:
          type: string
          description: Public key use.
          example: sig
        crv:
          type: string
          description: Elliptic curve name for EC keys.
          example: P-256
        x:
          type: string
          description: Base64url-encoded x coordinate.
          example: f83OJ3D2xF4Q...
        y:
          type: string
          description: Base64url-encoded y coordinate.
          example: x_FEzRu9m4w6...
        kid:
          type: string
          description: Key identifier used for key selection and rotation.
          example: main-2026-01
      example:
        kty: EC
        alg: ES256
        use: sig
        crv: P-256
        x: f83OJ3D2xF4Q...
        y: x_FEzRu9m4w6...
        kid: main-2026-01
    JWKS:
      type: object
      required: [keys]
      properties:
        keys:
          type: array
          items: { $ref: '#/components/schemas/JWK' }
          description: Public signing keys currently published by the issuer.
      example:
        keys:
          - kty: EC
            alg: ES256
            use: sig
            crv: P-256
            x: f83OJ3D2xF4Q...
            y: x_FEzRu9m4w6...
            kid: main-2026-01
    OIDCConfiguration:
      type: object
      description: |
        Subset of fields listed in spec §3.
        Feel free to extend locally: add extra properties without fear of
        breaking non-OIDC consumers, provided you preserve existing names.
      required:
        - issuer
        - authorization_endpoint
        - jwks_uri
        - response_types_supported
        - subject_types_supported
        - id_token_signing_alg_values_supported
      properties:
        issuer:
          type: string
          format: uri
          description: HTTPS URL; must match both discovery URL & ID-token `iss`.
        authorization_endpoint:
          type: string
          format: uri
        token_endpoint:
          type: string
          format: uri
          description: Required unless OP only supports Implicit flow.
        userinfo_endpoint:
          type: string
          format: uri
        jwks_uri:
          type: string
          format: uri
        registration_endpoint:
          type: string
          format: uri
        scopes_supported:
          type: array
          items: { type: string }
        response_types_supported:
          type: array
          items: { type: string }
        response_modes_supported:
          type: array
          items: { type: string }
        grant_types_supported:
          type: array
          items:
              $ref: '#/components/schemas/OAuthGrantType'
        subject_types_supported:
          type: array
          items:
            type: string
            enum: [public, pairwise]
        acr_values_supported:
          type: array
          items: { type: string }
        id_token_signing_alg_values_supported:
          type: array
          items: { type: string }
        id_token_encryption_alg_values_supported:
          type: array
          items: { type: string }
        id_token_encryption_enc_values_supported:
          type: array
          items: { type: string }
        userinfo_signing_alg_values_supported:
          type: array
          items: { type: string }
        userinfo_encryption_alg_values_supported:
          type: array
          items: { type: string }
        userinfo_encryption_enc_values_supported:
          type: array
          items: { type: string }
        request_object_signing_alg_values_supported:
          type: array
          items: { type: string }
        request_object_encryption_alg_values_supported:
          type: array
          items: { type: string }
        request_object_encryption_enc_values_supported:
          type: array
          items: { type: string }
        token_endpoint_auth_methods_supported:
          type: array
          items:
            type: string
            enum: [client_secret_post, client_secret_basic, client_secret_jwt, private_key_jwt]
        token_endpoint_auth_signing_alg_values_supported:
          type: array
          items: { type: string }
        display_values_supported:
          type: array
          items: { type: string }
        claim_types_supported:
          type: array
          items:
            type: string
            enum: [normal, aggregated, distributed]
        claims_supported:
          type: array
          items: { type: string }
        claims_locales_supported:
          type: array
          items: { type: string }
        ui_locales_supported:
          type: array
          items: { type: string }
        claims_parameter_supported:
          type: boolean
          description: Whether the authorization request supports the OIDC `claims` parameter.
        request_parameter_supported:
          type: boolean
          description: Whether signed request objects may be passed by value in the `request` parameter.
        request_uri_parameter_supported:
          type: boolean
          description: Whether signed request objects may be passed by reference in the `request_uri` parameter.
        require_request_uri_registration:
          type: boolean
          description: Whether `request_uri` values must be pre-registered.
        service_documentation:
          type: string
          format: uri
          description: Human-readable documentation URL for this provider.
        op_policy_uri:
          type: string
          format: uri
          description: URL of the provider's relying-party policy.
        op_tos_uri:
          type: string
          format: uri
          description: URL of the provider's terms of service.
      example:
        issuer: https://api.zemn.me
        authorization_endpoint: https://api.zemn.me/oauth2/authorize
        token_endpoint: https://api.zemn.me/oauth2/token
        jwks_uri: https://api.zemn.me/.well-known/jwks.json
        userinfo_endpoint: https://api.zemn.me/oauth2/userinfo
        scopes_supported: [openid, profile, email, callbox_key]
        response_types_supported: [code]
        grant_types_supported: [urn:ietf:params:oauth:grant-type:token-exchange]
        subject_types_supported: [public]
        id_token_signing_alg_values_supported: [ES256]
    TwilioCallRequest:
      type: object
      description: Parameters sent by Twilio in requests to your webhook for handling a call.
      properties:
        CallSid:
          type: string
          description: A unique identifier for this call, generated by Twilio.
        AccountSid:
          type: string
          pattern: '^AC[a-fA-F0-9]{32}$'
          description: Your Twilio account ID (34 characters, starting with 'AC').
        From:
          type: string
          description: >
            The initiator's phone number or client identifier. E.164 format (e.g., +16175551212) or client: scheme.
        To:
          type: string
          description: >
            The called party's phone number or client identifier. E.164 format or client: scheme.
        CallStatus:
          type: string
          enum: [queued, ringing, in-progress, completed, busy, failed, no-answer, canceled]
          description: The current status of the call.
        ApiVersion:
          type: string
          description: Twilio API version used for this call (e.g., 2010-04-01).
        Direction:
          type: string
          enum: [inbound, outbound-api, outbound-dial]
          description: The direction of the call.
        ForwardedFrom:
          type: string
          nullable: true
          description: The number from which the call was forwarded, if applicable.
        CallerName:
          type: string
          nullable: true
          description: >
            Caller ID name if VoiceCallerIdLookup is enabled on the number.
        ParentCallSid:
          type: string
          nullable: true
          description: Identifier for the parent call if this is a sub-call (e.g., leg of a call).
        CallToken:
          type: string
          nullable: true
          description: A token used for call forwarding, if applicable.
        FromCity:
          type: string
          nullable: true
          description: The city of the caller, if available.
        FromState:
          type: string
          nullable: true
          description: The state or province of the caller, if available.
        FromZip:
          type: string
          nullable: true
          description: The postal code of the caller, if available.
        FromCountry:
          type: string
          nullable: true
          description: The country of the caller, if available.
        ToCity:
          type: string
          nullable: true
          description: The city of the called party, if available.
        ToState:
          type: string
          nullable: true
          description: The state or province of the called party, if available.
        ToZip:
          type: string
          nullable: true
          description: The postal code of the called party, if available.
        ToCountry:
          type: string
          nullable: true
          description: The country of the called party, if available.
        Digits:
          type: string
          nullable: true
          description: Digits entered by the caller in response to a prompt.
      example:
        CallSid: CA1234567890abcdef1234567890abcd
        AccountSid: AC1234567890abcdef1234567890abcd
        From: "+14155550123"
        To: "+14155559876"
        CallStatus: in-progress
        ApiVersion: "2010-04-01"
        Direction: inbound
        Digits: "56734"
      required:
        - CallSid
        - AccountSid
        - From
        - To
        - CallStatus
        - ApiVersion
        - Direction
    Authorizer:
      type: object
      required:
        - phoneNumber
      properties:
        phoneNumber:
          $ref: "#/components/schemas/PhoneNumber"
      description: Authorizer contact that may approve visitor entry over the phone.
      example:
        phoneNumber: "+14155550123"
    PhoneNumber:
      description: A single E.164 phone number.
      example: "+447823423420"
      type: string
      pattern: ^\+[1-9]\d{1,14}$

    EntryCode:
      description: A 5 digit PIN-like entry code that may be used by a user.
      example: "56734"
      type: string
      pattern: ^\d{5}$

    EntryCodeEntry:
      type: object
      required:
        - code
      properties:
        code:
          $ref: "#/components/schemas/EntryCode"
      description: Entry code currently accepted by the callbox.
      example:
        code: "56734"

    CallboxSettings:
      description: >
        Settings object used by the callbox.
      type: object
      required:
        - authorizers
        - fallbackPhone
        - entryCodes
      properties:

        partyMode:
          description: >
            Whether the callbox is in party mode. In party mode, the callbox
            will not ask for a code and will immediately open the door.
          type: boolean

        authorizers:
          description: >
            A list of E.164 phone numbers. Authorizers are phone numbers that
            can be requested by the visitor — the callbox will then connect the
            authorizer who may press 9 at any time to approve visitor entry.
          type: array
          items:
            $ref: "#/components/schemas/Authorizer"

        fallbackPhone:
          description: >
            This number is called when the visitor does not request anything
            specific, or if the visitor fails to get in via some other method.

            It is a single E.164 phone number.

          $ref: "#/components/schemas/PhoneNumber"

        entryCodes:
          description: >
            A set of PIN-like numbers that may be used for immediate entry.
          type: array
          items:
            $ref: "#/components/schemas/EntryCodeEntry"
      example:
        partyMode: false
        authorizers:
          - phoneNumber: "+14155550123"
          - phoneNumber: "+14155550124"
        fallbackPhone: "+14155550999"
        entryCodes:
          - code: "56734"
          - code: "48192"


    Error:
      description: >
        Sent if an error occurs.
      type: object
      required:
        - cause
      properties:
        cause:
          type: string
          example: Too many concurrent requests.
      example:
        cause: Too many concurrent requests.
    GetPhoneNumberResponse:
      description: >
        Object representing the current callbox phone number.
      type: object
      required:
        - phoneNumber
      properties:
        phoneNumber:
          $ref: "#/components/schemas/PhoneNumber"
      example:
        phoneNumber: "+14155559876"

    GrievancePoster:
      type: object
      description: Poster identity attached to a grievance when available.
      required:
        - sub
      properties:
        sub:
          $ref: '#/components/schemas/OIDCSubject'
          description: OIDC subject identifier for the poster.
        email_address:
          type: string
          format: email
          description: Email address of the user who submitted the grievance.
        given_name:
          type: string
          description: Poster’s given/first name(s).
        family_name:
          type: string
          description: Poster’s surname(s).
      example:
        sub: user_2f7a3b91c8d24a7f
        email_address: alex@example.com
        given_name: Alex
        family_name: Rivera
    Grievance:
      type: object
      description: Stored grievance entry shown in the grievance portal.
      required:
        - description
        - priority
        - created
      properties:
        id:
          type: string
          format: uuid
          description: Stable grievance identifier.
        name:
          type: string
          deprecated: true
          description: Deprecated; use `poster` for attribution instead.
        poster:
          allOf:
            - $ref: '#/components/schemas/GrievancePoster'
          nullable: true
          description: Poster identity details; null for legacy entries.
        description:
          type: string
          description: Free-form grievance text entered by the user.
        priority:
          type: integer
          minimum: 1
          maximum: 10
          description: Relative urgency on a 1 to 10 scale.
        created:
          type: string
          format: date-time
          description: When the grievance was created.
        timeZone:
          type: string
          description: Client IANA time zone
      example:
        id: 7b7d9e72-86cb-4df3-9520-a8c1372d7c1b
        poster:
          sub: user_2f7a3b91c8d24a7f
          email_address: alex@example.com
          given_name: Alex
          family_name: Rivera
        description: The intercom speaker is too quiet after 9pm.
        priority: 6
        created: "2026-03-28T19:14:22Z"
        timeZone: America/Los_Angeles
    NewGrievance:
      type: object
      description: Payload used to submit or replace a grievance.
      required:
        - description
        - priority
      properties:
        name:
          type: string
          deprecated: true
          description: Deprecated; use `poster` for attribution instead.
        description:
          type: string
          description: Free-form grievance text entered by the user.
        priority:
          type: integer
          minimum: 1
          maximum: 10
          description: Relative urgency on a 1 to 10 scale.
        timeZone:
          type: string
          description: Client IANA time zone
      example:
        description: The intercom speaker is too quiet after 9pm.
        priority: 6
        timeZone: America/Los_Angeles
    User:
      type: object
      description: User record available to the admin token-exchange API.
      required:
        - id
        - deletable
      properties:
        id:
          type: string
          description: Local OIDC subject used by zemn.me
        deletable:
          type: boolean
          description: Whether this user may currently be deleted.
        subjectIds:
          type: array
          description: Subject identifiers for linked upstream identities.
          items:
            type: string
            format: uri
        emails:
          type: array
          description: Email addresses associated with the user.
          items:
            type: string
            format: email
        issuer:
          $ref: '#/components/schemas/OIDCIssuer'
        provider:
          type: string
          format: uri
          description: Upstream provider URL for the linked identity.
        audience:
          $ref: '#/components/schemas/OAuthClientId'
        remoteSubject:
          $ref: '#/components/schemas/OIDCSubject'
        name:
          type: string
        givenName:
          type: string
        familyName:
          type: string
        picture:
          type: string
          format: uri
        emailVerified:
          type: boolean
        scopes:
          type: array
          description: Scopes that may be granted to tokens for this user.
          items:
            type: string
      example:
        id: user_2f7a3b91c8d24a7f
        deletable: true
        subjectIds:
          - "https://accounts.google.com#1133557799"
        emails:
          - alex@example.com
        issuer: https://accounts.google.com
        provider: https://accounts.google.com
        audience: zemn-web
        remoteSubject: "1133557799"
        name: Alex Rivera
        givenName: Alex
        familyName: Rivera
        picture: https://example.com/avatar/alex.jpg
        emailVerified: true
        scopes: [callbox_key, grievance_portal]
    NewUser:
      type: object
      description: Payload used to create a user that can participate in token exchange.
      required:
        - email
      properties:
        email:
          type: string
          format: email
          description: Primary email address for the new user.
        scopes:
          type: array
          description: Scopes the created user is allowed to request.
          items:
            type: string
      example:
        email: alex@example.com
        scopes: [callbox_key, grievance_portal]
    UpdateUser:
      type: object
      description: Self-service user update payload.
      properties:
        email:
          type: string
          format: email
          description: Replacement primary email address.
        scopes:
          type: array
          description: Replacement scope list for the current user.
          items:
            type: string
      example:
        email: alex@example.com
        scopes: [grievance_portal]
    AdminUserUpdateRequest:
      type: object
      description: Admin payload for replacing selected fields on a user record.
      required:
        - id
      properties:
        id:
          type: string
          description: Local user identifier to update.
        emails:
          type: array
          description: Full set of email addresses to store for the user.
          items:
            type: string
            format: email
        givenName:
          type: string
          description: User's given name.
        familyName:
          type: string
          description: User's family name.
        scopes:
          type: array
          description: Full set of scopes allowed for the user.
          items:
            type: string
        subjectIds:
          type: array
          description: Full set of linked upstream subject identifiers.
          items:
            type: string
            format: uri
      example:
        id: user_2f7a3b91c8d24a7f
        emails: [alex@example.com]
        givenName: Alex
        familyName: Rivera
        scopes: [callbox_key, grievance_portal]
        subjectIds: ["https://accounts.google.com#1133557799"]
    AdminUserDeleteRequest:
      type: object
      description: Admin payload identifying a user record to delete.
      required:
        - id
      properties:
        id:
          type: string
          description: Local user identifier to delete.
      example:
        id: user_2f7a3b91c8d24a7f
    AnalyticsPage:
      type: object
      description: Page-level metadata captured for an analytics event.
      properties:
        urlPath:
          type: string
          description: Path component of the current page URL.
          example: /grievances
        title:
          type: string
          description: Browser page title at the time of the event.
          example: Grievance Portal
        referrer:
          type: string
          format: uri
          description: Referrer URL, if one was present.
          example: https://zemn.me/
        utmSource:
          type: string
          description: UTM source query parameter.
        utmMedium:
          type: string
          description: UTM medium query parameter.
        utmCampaign:
          type: string
          description: UTM campaign query parameter.
        utmTerm:
          type: string
          description: UTM term query parameter.
        utmContent:
          type: string
          description: UTM content query parameter.
    AnalyticsContext:
      type: object
      description: Browser and device context captured alongside the event.
      properties:
        screen:
          $ref: '#/components/schemas/AnalyticsDimensions'
        viewport:
          $ref: '#/components/schemas/AnalyticsDimensions'
        locale:
          type: string
          description: Browser locale, usually a BCP 47 language tag.
          example: en-US
        timeZone:
          type: string
          description: Browser-reported IANA time zone.
          example: America/Los_Angeles
        userAgent:
          type: string
          description: Raw browser user agent string.
    AnalyticsDimensions:
      type: object
      description: Width and height pair measured in CSS pixels.
      required:
        - width
        - height
      properties:
        width:
          type: integer
          description: Width in CSS pixels.
          example: 1440
        height:
          type: integer
          description: Height in CSS pixels.
          example: 900
    AnalyticsPerformance:
      type: object
      description: Performance timings and web-vitals style measurements for the page load.
      properties:
        navigationType:
          type: string
          description: Navigation classification from the Performance API.
          example: navigate
        loadMs:
          type: number
          description: Total page load time in milliseconds.
          example: 842.4
        lcpMs:
          type: number
          description: Largest Contentful Paint in milliseconds.
          example: 1280.5
        cls:
          type: number
          description: Cumulative Layout Shift score.
          example: 0.02
        inpMs:
          type: number
          description: Interaction to Next Paint in milliseconds.
          example: 86.7
    AnalyticsEngagement:
      type: object
      description: Aggregate engagement data captured during the session.
      properties:
        activeMs:
          type: integer
          description: Milliseconds the page was actively engaged with.
          example: 18234
        totalMs:
          type: integer
          description: Total milliseconds the page remained open.
          example: 45221
        scrollDepthPercent:
          type: integer
          minimum: 0
          maximum: 100
          description: Furthest scroll depth reached, from 0 to 100.
          example: 75
        visibilityState:
          type: string
          description: Final `document.visibilityState` observed when the event was sent.
          example: visible
    AnalyticsEvent:
      type: object
      description: Anonymous analytics beacon emitted by the frontend.
      required:
        - eventName
        - eventTime
        - eventId
        - sessionId
      properties:
        eventName:
          type: string
          description: Stable event name emitted by the client.
          example: page_view
        eventTime:
          type: string
          format: date-time
          description: Client timestamp for when the event occurred.
          example: "2026-03-30T18:22:11.384Z"
        eventId:
          type: string
          description: Unique identifier for this event payload.
          example: evt_01HTZVK0M2G5X2DQ3R5K7R0T0A
        sessionId:
          type: string
          description: Client-generated session identifier used to group events.
          example: sess_01HTZVJH4Y9P72P0P8B7R8Q5JZ
        anonymousId:
          type: string
          description: Longer-lived anonymous visitor identifier, if available.
          example: anon_01HTZVJ8CN1F8XFW0HQN2NQ2TE
        page:
          $ref: '#/components/schemas/AnalyticsPage'
        context:
          $ref: '#/components/schemas/AnalyticsContext'
        performance:
          $ref: '#/components/schemas/AnalyticsPerformance'
        engagement:
          $ref: '#/components/schemas/AnalyticsEngagement'
        properties:
          type: object
          additionalProperties: true
          description: Event-specific custom properties.
      example:
        eventName: page_view
        eventTime: "2026-03-30T18:22:11.384Z"
        eventId: evt_01HTZVK0M2G5X2DQ3R5K7R0T0A
        sessionId: sess_01HTZVJH4Y9P72P0P8B7R8Q5JZ
        anonymousId: anon_01HTZVJ8CN1F8XFW0HQN2NQ2TE
        page:
          urlPath: /grievances
          title: Grievance Portal
          referrer: https://zemn.me/
        context:
          screen:
            width: 1440
            height: 900
          viewport:
            width: 1280
            height: 742
          locale: en-US
          timeZone: America/Los_Angeles
          userAgent: Mozilla/5.0
        performance:
          navigationType: navigate
          loadMs: 842.4
          lcpMs: 1280.5
          cls: 0.02
          inpMs: 86.7
        engagement:
          activeMs: 18234
          totalMs: 45221
          scrollDepthPercent: 75
          visibilityState: visible
        properties:
          route: /grievances
    AnalyticsAccepted:
      type: object
      description: Minimal acknowledgement returned once the beacon has been queued.
      required:
        - accepted
      properties:
        accepted:
          type: boolean
          description: Whether the event was accepted for processing.
          example: true
      example:
        accepted: true

paths:
  /phone/init:
    post:
      summary: Entry point for Twilio callbox phone number.
      description: Accepts the initial webhook Twilio sends when a visitor calls the callbox number.
      parameters:
        - name: secret
          in: query
          description: Auth secret.
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/TwilioCallRequest"
            example:
              CallSid: CA1234567890abcdef1234567890abcd
              AccountSid: AC1234567890abcdef1234567890abcd
              From: "+14155550123"
              To: "+14155559876"
              CallStatus: in-progress
              ApiVersion: "2010-04-01"
              Direction: inbound
  /phone/handleEntry:
    get:
      description: Process keypad digits or dial callbacks while a visitor navigates the callbox flow.
      parameters:
        - name: secret
          in: query
          description: Auth secret.
          required: true
          schema:
            type: string
        - name: Digits
          in: query
          description: digits entered by user.
          allowEmptyValue: true
          required: false
          schema:
            type: string
        - name: DialCallStatus
          in: query
          description: Final status of the previous Dial attempt when Twilio calls back.
          required: false
          schema:
            type: string
        - name: attempt
          in: query
          description: The next Dial attempt number when retrying authorizers.
          required: false
          schema:
            type: integer
      summary: Handles entering an authorizer for the callbox phone number.
      responses:
        "200":
          description: TwiML instructions for the next step in the call flow.
          content:
            application/xml:
              schema:
                type: string
              example: |
                <?xml version="1.0" encoding="UTF-8"?>
                <Response><Say>Please enter your code.</Say><Gather numDigits="5" /></Response>


  /callbox:
    post:
      summary: Unlock the callbox.
      description: Record a door-open or door-close request initiated by an authenticated caller.
      security:
        - OIDC: [callbox_key]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [open]
              properties:
                open:
                  type: boolean
                  description: "`true` to request the door be opened, `false` to request it be closed."
              example:
                open: true
      responses:
        "200":
          description: Recorded unlock request.
          content:
            application/json:
              schema:
                type: object
                required: [subject, when]
                properties:
                  subject:
                    type: string
                    description: Authenticated subject that made the request.
                  when:
                    type: string
                    description: Timestamp when the request was recorded.
              example:
                subject: user_2f7a3b91c8d24a7f
                when: "2026-03-30T18:31:54.902Z"
    get:
      summary: Get callbox door status.
      description: Return the backend's best current view of whether the callbox door is open.
      security:
        - OIDC: [callbox_key]
      responses:
        "200":
          description: Current inferred door-open status.
          content:
            application/json:
              schema:
                type: object
                required: [open]
                properties:
                  open:
                    type: boolean
                    description: Whether the door is currently believed to be open.
                  lastOpenedAt:
                    type: string
                    description: Most recent time the door was opened, if known.
                  openUntil:
                    type: string
                    description: Time after which the door should be considered closed, if applicable.
                  source:
                    type: string
                    description: Source that most recently updated the inferred state.
                  subject:
                    type: string
                    description: Subject associated with the most recent state-changing request.
              example:
                open: true
                lastOpenedAt: "2026-03-30T18:31:54.902Z"
                openUntil: "2026-03-30T18:32:14.902Z"
                source: manual_unlock
                subject: user_2f7a3b91c8d24a7f


  /callbox/settings:
    post:
      description: >
        Return the current callbox settings.
      security:
        - OIDC: [callbox_settings_write]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CallboxSettings"
      responses:
        "200":
          description: >
            Settings as synced with the backend.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallboxSettings'
        "500":
            description: Error.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
    get:
      description: >
        Returns the current settings for the callbox.
      security:
        - OIDC: [callbox_settings_read]
      responses:
        "500":
          description: >
            Something went wrong.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "200":
          description: >
            Returns a list of phone numbers representing users
            who are authorised to approve entry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallboxSettings'
  /phone/number:
    get:
      summary: Returns the current phone number for the callbox.
      description: Return the public Twilio number currently assigned to the callbox flow.
      security:
        - OIDC: [callbox_settings_read]
      responses:
        "200":
          description: It worked!
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPhoneNumberResponse'

  /grievances:
    get:
      summary: List grievances.
      description: Return all grievances visible to the authenticated grievance portal user.
      security:
        - OIDC: [grievance_portal]
      responses:
        "200":
          description: List grievances
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Grievance'
    post:
      summary: Create a grievance.
      description: Create a new grievance entry on behalf of the authenticated user.
      security:
        - OIDC: [grievance_portal]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewGrievance'
      responses:
        "200":
          description: Created grievance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Grievance'

  /grievance/{id}:
    get:
      summary: Fetch a grievance.
      description: Return a single grievance by its identifier.
      security:
        - OIDC: [grievance_portal]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Grievance identifier.
      responses:
        "200":
          description: A grievance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Grievance'
    put:
      summary: Replace a grievance.
      description: Replace the editable fields of an existing grievance.
      security:
        - OIDC: [grievance_portal]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Grievance identifier.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewGrievance'
      responses:
        "200":
          description: Updated grievance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Grievance'
        "404":
          description: Not found
    delete:
      summary: Delete a grievance.
      description: Delete a grievance by identifier.
      security:
        - OIDC: [grievance_portal]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Grievance identifier.
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                type: string

  /healthz:
    get:
      summary: Health check endpoint.
      description: >
        Returns a 200 OK response if the service is healthy.
      responses:
        "200":
          description: Service is healthy.
          content:
            application/json:
              schema:
                type: string
                enum: [OK]

  /analytics/beacon:
    post:
      summary: Store an anonymous analytics event.
      description: Accept a single frontend analytics event for asynchronous processing.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyticsEvent'
            example:
              eventName: page_view
              eventTime: "2026-03-30T18:22:11.384Z"
              eventId: evt_01HTZVK0M2G5X2DQ3R5K7R0T0A
              sessionId: sess_01HTZVJH4Y9P72P0P8B7R8Q5JZ
              page:
                urlPath: /grievances
                title: Grievance Portal
      responses:
        "202":
          description: Analytics event accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsAccepted'
              example:
                accepted: true

  /.well-known/security.txt:
    get:
      summary: security.txt
      description: Security contact information.
      responses:
        "200":
          description: security.txt contents.
          content:
            text/plain:
              schema:
                type: string

  /security.txt:
    get:
      summary: security.txt
      description: Security contact information.
      responses:
        "200":
          description: security.txt contents.
          content:
            text/plain:
              schema:
                type: string

  /admin/uid:
    get:
      summary: Returns the caller's OIDC subject ID.
      description: Minimal authenticated identity endpoint useful for debugging and client bootstrap.
      security:
        - OIDC: []
      responses:
        "200":
          description: The subject identifier.
          content:
            application/json:
              schema:
                type: object
                required: [uid]
                properties:
                  uid:
                    type: string
                    description: Subject identifier from the authenticated token.
              example:
                uid: user_2f7a3b91c8d24a7f
  /me/scopes:
    get:
      summary: Returns the caller's OAuth scopes.
      description: Return the scopes currently granted to the caller's access token.
      security:
        - OIDC: []
      responses:
        "200":
          description: The caller's scopes.
          content:
            application/json:
              schema:
                type: object
                required: [scopes]
                properties:
                  scopes:
                    type: array
                    items:
                      type: string
              example:
                scopes: [callbox_key, grievance_portal]
  /admin/users:
    get:
      summary: List users
      description: Return user records that administrators may manage for token exchange.
      security:
        - OIDC: [admin_users_read]
      responses:
        "200":
          description: Users configured for token exchange.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
    post:
      summary: Create a user by email
      description: Create a new manageable user record keyed by email address.
      security:
        - OIDC: [admin_users_manage]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewUser'
      responses:
        "200":
          description: Created user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
  /admin/user:
    put:
      summary: Update a user
      description: Replace selected fields on an existing user record.
      security:
        - OIDC: [admin_users_manage]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUserUpdateRequest'
      responses:
        "200":
          description: Updated user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        "404":
          description: Not found
    delete:
      summary: Delete a user
      description: Delete an existing user record by local identifier.
      security:
        - OIDC: [admin_users_manage]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUserDeleteRequest'
      responses:
        "200":
          description: Deleted user.
          content:
            application/json:
              schema:
                type: string
  /.well-known/webfinger:
    get:
      tags: [Discovery]
      summary: WebFinger issuer discovery
      description: |
        Identifier-to-issuer lookup (spec §2).
        Safe to coexist with any other `/.well-known/*` handlers because
        the path and media-type are unique.
      operationId: getWebFinger
      parameters:
        - name: resource
          in: query
          required: true
          schema:
            type: string
          description: Normalised End-User identifier (URI or `acct:` form).
        - name: rel
          in: query
          required: false
          schema:
            type: string
            default: http://openid.net/specs/connect/1.0/issuer
          description: Relation type; leave at default for OIDC usage.
      responses:
        '200':
          description: JSON Resource Descriptor with at least one issuer link.
          content:
            application/jrd+json:
              schema:
                $ref: '#/components/schemas/JRD'
        default:
          description: Error (400/404 etc. depending on implementation policy).

  /.well-known/jwks.json:
    get:
      tags: [Discovery]
      summary: JSON Web Key Set
      description: Publish the issuer's current public signing keys.
      operationId: getJWKS
      responses:
        '200':
          description: JSON Web Key Set.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JWKS'
        default:
          description: Error.

  /.well-known/openid-configuration:
    get:
      tags: [Discovery]
      summary: OP configuration (root issuer)
      description: |
        Returned when `issuer` has no path component.
        If your main spec includes additional root-level `/.well-known`
        handlers, ensure they use distinct filenames.
      operationId: getOpenIDConnectRootConfiguration
      responses:
        '200':
          description: OpenID Provider metadata document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OIDCConfiguration'
        default:
          description: Discovery failure.
  /oauth2/token:
    post:
      summary: OAuth 2.0 Token Endpoint (incl. RFC8693 Token Exchange)
      description: >
        Supports standard grants and `urn:ietf:params:oauth:grant-type:token-exchange`
        per RFC 8693. Clients authenticate with `client_secret_basic` (recommended),
        `client_secret_post`, or `private_key_jwt`.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
                $ref: '#/components/schemas/TokenExchangeRequest'
            example:
              grant_type: urn:ietf:params:oauth:grant-type:token-exchange
              subject_token: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9...
              subject_token_type: urn:ietf:params:oauth:token-type:id_token
              requested_token_type: urn:ietf:params:oauth:token-type:access_token
              scope: callbox_key
      responses:
        "200":
          description: Token issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
              example:
                access_token: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9...
                issued_token_type: urn:ietf:params:oauth:token-type:access_token
                token_type: Bearer
                expires_in: 3600
                scope: callbox_key
        "400":
          description: OAuth error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthError'
              example:
                error: invalid_request
                error_description: subject_token_type is required
        "401":
          description: Client authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthError'
              example:
                error: invalid_client
                error_description: client authentication failed
