
@font-face {
    font-family: 'EB Garamond';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src:
        local('EBGaramond-Bold'),
        url(./EBGaramond12/fonts/otf/EBGaramond-Bold.otf) format('opentype'),
url(./EBGaramond12/fonts/ttf/EBGaramond-Bold.ttf) format('truetype');
}
        

@font-face {
    font-family: 'EB Garamond';
    font-style: italic;
    font-display: swap;
    font-weight: 700;
    src:
        local('EBGaramond-BoldItalic'),
        url(./EBGaramond12/fonts/otf/EBGaramond-BoldItalic.otf) format('opentype'),
url(./EBGaramond12/fonts/ttf/EBGaramond-BoldItalic.ttf) format('truetype');
}
        

@font-face {
    font-family: 'EB Garamond';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src:
        local('EBGaramond-ExtraBold'),
        url(./EBGaramond12/fonts/otf/EBGaramond-ExtraBold.otf) format('opentype'),
url(./EBGaramond12/fonts/ttf/EBGaramond-ExtraBold.ttf) format('truetype');
}
        

@font-face {
    font-family: 'EB Garamond';
    font-style: italic;
    font-display: swap;
    font-weight: 400;
    src:
        local('EBGaramond-ExtraBoldItalic'),
        url(./EBGaramond12/fonts/otf/EBGaramond-ExtraBoldItalic.otf) format('opentype'),
url(./EBGaramond12/fonts/ttf/EBGaramond-ExtraBoldItalic.ttf) format('truetype');
}
        

@font-face {
    font-family: 'EB Garamond';
    font-style: italic;
    font-display: swap;
    font-weight: 400;
    src:
        local('EBGaramond-Italic'),
        url(./EBGaramond12/fonts/otf/EBGaramond-Italic.otf) format('opentype'),
url(./EBGaramond12/fonts/ttf/EBGaramond-Italic.ttf) format('truetype');
}
        

@font-face {
    font-family: 'EB Garamond';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src:
        local('EBGaramond-Medium'),
        url(./EBGaramond12/fonts/otf/EBGaramond-Medium.otf) format('opentype'),
url(./EBGaramond12/fonts/ttf/EBGaramond-Medium.ttf) format('truetype');
}
        

@font-face {
    font-family: 'EB Garamond';
    font-style: italic;
    font-display: swap;
    font-weight: 500;
    src:
        local('EBGaramond-MediumItalic'),
        url(./EBGaramond12/fonts/otf/EBGaramond-MediumItalic.otf) format('opentype'),
url(./EBGaramond12/fonts/ttf/EBGaramond-MediumItalic.ttf) format('truetype');
}
        

@font-face {
    font-family: 'EB Garamond';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src:
        local('EBGaramond-Regular'),
        url(./EBGaramond12/fonts/otf/EBGaramond-Regular.otf) format('opentype'),
url(./EBGaramond12/fonts/ttf/EBGaramond-Regular.ttf) format('truetype');
}
        

@font-face {
    font-family: 'EB Garamond';
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src:
        local('EBGaramond-SemiBold'),
        url(./EBGaramond12/fonts/otf/EBGaramond-SemiBold.otf) format('opentype'),
url(./EBGaramond12/fonts/ttf/EBGaramond-SemiBold.ttf) format('truetype');
}
        

@font-face {
    font-family: 'EB Garamond';
    font-style: italic;
    font-display: swap;
    font-weight: 600;
    src:
        local('EBGaramond-SemiBoldItalic'),
        url(./EBGaramond12/fonts/otf/EBGaramond-SemiBoldItalic.otf) format('opentype'),
url(./EBGaramond12/fonts/ttf/EBGaramond-SemiBoldItalic.ttf) format('truetype');
}
        