.Article
    margin: auto
    padding: 1em
    width: 100%

.ArticlePage
    display: grid
    grid-template-columns: 21em 40rem

.Timeline
    position: sticky
    top: 0
    left: 0
    max-height: 100vh
    overflow: hidden