
.Timeline {
    display: grid;
    grid-template-columns: repeat(auto-fill, 21em);
    justify-content: space-around;
}

.Month {
    margin: 0 0 2em 0;
}

.yearDisplay {
    display: grid;
    grid: "r y a" 1fr / 1fr 1fr 1fr;
    text-align: center;
}

.yearDisplayYear {
    grid-area: y;
    margin: auto
}

.yearDisplayAge {
    grid-area: a;
}

.yearDisplayAge, .yearDisplayRoman {
    font-size: small;
    color: var(--mgc);
    margin: auto
}

.yearDisplayRoman {
    grid-area: r;
    display: none
}

.Event {
    margin: 0 0 1rem 1.3em
}

.MonthIndicator {
    color: var(--mgc);
    text-transform: lowercase;
}


.StretchArea {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
}

.VerticalStretchIndicator {
    display: grid;
    grid: "." fit-content(4rem) "line" 1fr "." fit-content(4rem)/ 1fr;
}

.VerticalStretchIndicator::before {
    content: "";
    grid-area: line;
    height: 100%;
    display: block;
    border-left: 1px dotted var(--fgc);
    margin: auto;
}