.cover {
    object-fit: cover;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.caption {
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	/* Optional for pointer events and layout flow */
	visibility: hidden;
  }

.heroVideo:hover .caption, .caption.toggled {
	opacity: 1;
	visibility: visible;
}
