.navbar {
    display: grid;
    grid:   ". .... ..... ......... ." .5rem
            ". logo title hamburger ." 3rem
            ". .... ..... ......... ." .5rem / .5rem auto 1fr auto .5rem;
    border-bottom: .2em solid whitesmoke;
    position: sticky;
}

.logo {
    grid-area: logo;
}

.logoInner {
    height:100%;
    width: auto;
}