.nav-bar {
  display: grid;
  grid:
    ". .... ..... ......... ." 0.5rem
    ". logo title icons ." 3rem
    ". .... ..... ......... ." 0.5rem / 0.5rem auto 1fr auto auto;
  border-bottom: 0.2em solid whitesmoke;
  position: sticky;
}

.logo {
  grid-area: logo;
}

.logo-inner {
  height: 100%;
  width: auto;
}

.icons {
  grid-area: icons;
}
