.nav-bar {
  display: grid;
  grid:
    ". .... ..... ......... ." 0.5rem
    ". logo title icons ." 3rem
    ". .... ..... ......... ." 0.5rem / 0.5rem auto 1fr auto auto;
  border-bottom: 0.2em solid whitesmoke;
  position: sticky;
  top: 0;
  background-color: var(--background-color);
}

.logo {
  grid-area: logo;
}

.logo-inner {
  height: 100%;
  width: auto;
}

.icons {
  grid-area: icons;
  margin: auto;
}

.hamburger {
  background-color: var(--background-color);
  height: 100vh;
  z-index: 99;
  position: fixed;
  width: 25vw;
}
