.blockelement
    width: 100%
    height: 100%
    margin: 0
    padding: 0
    display: grid

.multicol
    display: grid
    grid-template-columns: repeat(auto-fill, var(--column-width, 21rem))
    justify-content: space-around

    
.linear
  font-family: 'EB Garamond', serif
  font-variant-ligatures: historical-ligatures common-ligatures additional-ligatures
  overflow-wrap: break-word
  text-decoration-skip-ink: auto

  transition: all 1s ease-in-out
  transition-property: color, fill, stroke, background-color, border-color

  // colours!!
  // dark mode
  --dark-sand: #887f75
  --eigensand: #181719
  --med-sand: #bfb6a9
  // light mode
  --daylight: #fffff7
  --arbor: #020202
  --cover: #fffff7

  --white: white
  --black: black
  --grey: grey
  --greylike: #b7b7b7
  --lightish: rgba(0,0,0,.6)


  // colour schemes
  @media (prefers-color-scheme: dark)
    --fgc: var(--med-sand) 
    --mgc: var(--dark-sand)
    --bgc: var(--eigensand)
    --fgc-o: var(--bgc)
    --mgc-o: var(--bgc)
    --bgc-o: var(--fgc)
    --figure-fill: var(--mgc)
    --figure-stroke: var(--mgc-o)

  @media (prefers-color-scheme: light), (not (prefers-color-scheme: dark))
    --fgc: var(--arbor)
    --bgc: var(--daylight)
    --mgc: var(--cover)
    --fgc-o: var(--bgc)
    --mgc-o: var(--bgc)
    --bgc-o: var(--fgc)
    --figure-fill: var(--bgc)
    --figure-stroke: var(--bgc-o)


  color: var(--fgc)

  $this: &
  
  =linear
    &#{$this}, #{$this} &
      @content
      
  @at-root
    .frac
      font-variant-numeric: diagonal-fractions

    .ord
      font-size: smaller
      vertical-align: super
      color: var(--mgc)

    .math
      font-style: italic

    main
      +linear
        background: var(--bgc)

    article
      +linear
        img, iframe, svg
          max-width: 90%
          margin: 2rem auto
          display: block

    pre, code
      +linear
        white-space: break-spaces
        font-size: 90%

    article
      .prose
        +linear
          font-size: 2.4rem
          counter-reset: h1 0 h2 0 h3 0 h4 0 h5 0 h6 0
          margin: auto
          padding: 0 2em
          h1
            text-align: center
            padding-bottom: 1rem
            border-bottom: 1px solid var(--fgc)
            counter-increment: h1
          h2
            counter-increment: h2
          h3
            counter-increment: h3
          h4
            counter-increment: h4
          h2
            margin: 4rem 0 1rem 0
            &::before
              content: counter(h2) ". "
          h3
            &::before
              content: counter(h2) counter(h3, lower-latin) ". "

    ol
      +linear
        counter-reset: li
        list-style: none

    li
      +linear
        counter-increment: li
        &::before
          content: counters(li, '.') ". "
          color: var(--mgc)

    p
      +linear
        &::first-letter
          text-transform: capitalize
          padding-left: 1em

    // these styles are intentionally fairly basic, and do not do
    // anything weird with alignment, so we can more specifically use
    // .Prose for formatting basics for regular text
        
    h1, h2, h3, h4, h5, h6
      +linear
        font-weight: inherit

    h1
      +linear
        font-size: 200%
    
    h2
      +linear
        font-size: 180%
        display: inline-block

        
    a
      &:visited, &:link
        +linear
          color: inherit
        
      &:link
        +linear
          text-decoration: none
          border-bottom: 1px solid var(--fgc)


    input
      &[type=text]
        +linear
          padding: 1rem 0
          text-decoration-color: rgba(0,0,0,.3)
          
        &:focus
          +linear
            border-bottom-color: var(--fgc)
            border: 0
            outline: 0
            
    strong
      +linear
        //font-weight: 600
        font-variant: small-caps
        font-weight: inherit
        
    hr
      +linear
        border: 0
        text-align: center
        display: block
        margin: 1rem 0
      
      &::before
        +linear
          content: "⁂"


