.inlineLogin {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  text-decoration-color: var(--link-color);
  text-decoration: underline;
}

.inlineLogin:disabled {
  cursor: default;
  text-decoration: none;
}

.error {
	color: var(--error-color);
}

.indicator {
	display: inline-block;
	height: auto;
	width: .6em;
	vertical-align: middle;
}

.loggedIn {
	display: inline-flex;
	align-items: center;
	gap: 0.3em;
}

.loggedInText {
	max-width: 16em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.profilePicture {
	height: 1.2em;
	width: 1.2em;
	border-radius: 50%;
	object-fit: cover;
}
