    new_git_repository(
        name = "{{ repository_name }}",
        strip_prefix = "{{ repo.path_to_crate_root }}",
        build_file_content = """{%- include "templates/crate.BUILD.template" %}""",
        remote = "{{ repo.remote }}",
        commit = "{{ repo.commit }}",
    )
