openapi: 3.0.4
info:
  title: zemn.me API
  version: 0.0.0

servers:
  - url: https://api.zemn.me
    description: Production
  - url: http://api.staging.zemn.me
    description: Staging

components:
  securitySchemes:
    googleOIDC:
      type: openIdConnect
      # todo: own issuer!
      openIdConnectUrl: "https://accounts.google.com/.well-known/openid-configuration"
  schemas:
    TwilioCallRequest:
      type: object
      description: Parameters sent by Twilio in requests to your webhook for handling a call.
      properties:
        CallSid:
          type: string
          description: A unique identifier for this call, generated by Twilio.
        AccountSid:
          type: string
          pattern: '^AC[a-fA-F0-9]{32}$'
          description: Your Twilio account ID (34 characters, starting with 'AC').
        From:
          type: string
          description: >
            The initiator's phone number or client identifier. E.164 format (e.g., +16175551212) or client: scheme.
        To:
          type: string
          description: >
            The called party's phone number or client identifier. E.164 format or client: scheme.
        CallStatus:
          type: string
          enum: [queued, ringing, in-progress, completed, busy, failed, no-answer, canceled]
          description: The current status of the call.
        ApiVersion:
          type: string
          description: Twilio API version used for this call (e.g., 2010-04-01).
        Direction:
          type: string
          enum: [inbound, outbound-api, outbound-dial]
          description: The direction of the call.
        ForwardedFrom:
          type: string
          nullable: true
          description: The number from which the call was forwarded, if applicable.
        CallerName:
          type: string
          nullable: true
          description: >
            Caller ID name if VoiceCallerIdLookup is enabled on the number.
        ParentCallSid:
          type: string
          nullable: true
          description: Identifier for the parent call if this is a sub-call (e.g., leg of a call).
        CallToken:
          type: string
          nullable: true
          description: A token used for call forwarding, if applicable.
        FromCity:
          type: string
          nullable: true
          description: The city of the caller, if available.
        FromState:
          type: string
          nullable: true
          description: The state or province of the caller, if available.
        FromZip:
          type: string
          nullable: true
          description: The postal code of the caller, if available.
        FromCountry:
          type: string
          nullable: true
          description: The country of the caller, if available.
        ToCity:
          type: string
          nullable: true
          description: The city of the called party, if available.
        ToState:
          type: string
          nullable: true
          description: The state or province of the called party, if available.
        ToZip:
          type: string
          nullable: true
          description: The postal code of the called party, if available.
        ToCountry:
          type: string
          nullable: true
          description: The country of the called party, if available.
        Digits:
          type: string
          nullable: true
          description: digits entered by user.
      required:
        - CallSid
        - AccountSid
        - From
        - To
        - CallStatus
        - ApiVersion
        - Direction
    Authorizer:
      type: object
      required:
        - phoneNumber
      properties:
        phoneNumber:
          $ref: "#/components/schemas/PhoneNumber"
    PhoneNumber:
      description: A single E.164 phone number.
      example: "+447823423420"
      type: string
      pattern: ^\+[1-9]\d{1,14}$

    EntryCode:
      description: A 5 digit PIN-like entry code that may be used by a user.
      example: "56734"
      type: string
      pattern: ^\d{5}$

    EntryCodeEntry:
      type: object
      required:
        - code
      properties:
        code:
          $ref: "#/components/schemas/EntryCode"

    CallboxSettings:
      description: >
        Settings object used by the callbox.
      type: object
      required:
        - authorizers
        - fallbackPhone
        - entryCodes
      properties:

        partyMode:
          description: >
            Whether the callbox is in party mode. In party mode, the callbox
            will not ask for a code and will immediately open the door.
          type: boolean

        authorizers:
          description: >
            A list of E.164 phone numbers. Authorizers are phone numbers that
            can be requested by the visitor — the callbox will then connect the
            authorizer who may press 9 at any time to approve visitor entry.
          type: array
          items:
            $ref: "#/components/schemas/Authorizer"

        fallbackPhone:
          description: >
            This number is called when the visitor does not request anything
            specific, or if the visitor fails to get in via some other method.

            It is a single E.164 phone number.

          $ref: "#/components/schemas/PhoneNumber"

        entryCodes:
          description: >
            A set of PIN-like numbers that may be used for immediate entry.
          type: array
          items:
            $ref: "#/components/schemas/EntryCodeEntry"


    Error:
      description: >
        Sent if an error occurs.
      type: object
      required:
        - cause
      properties:
        cause:
          type: string
          example: Too many concurrent requests.
    GetPhoneNumberResponse:
      description: >
        Object representing the current callbox phone number.
      type: object
      required:
        - phoneNumber
      properties:
        phoneNumber:
          $ref: "#/components/schemas/PhoneNumber"

    Grievance:
      type: object
      required:
        - name
        - description
        - priority
        - created
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        priority:
          type: integer
          minimum: 1
          maximum: 10
        created:
          type: string
          format: date-time
    NewGrievance:
      type: object
      required:
        - name
        - description
        - priority
      properties:
        name:
          type: string
        description:
          type: string
        priority:
          type: integer
          minimum: 1
          maximum: 10
        timeZone:
          type: string
          description: Client IANA time zone

paths:
  /phone/init:
    POST:
      summary: Entry point for Twilio callbox phone number.
      parameters:
        - name: secret
          in: query
          description: Auth secret.
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/TwilioCallRequest"
  /phone/handleEntry:
    get:
      parameters:
        - name: secret
          in: query
          description: Auth secret.
          required: true
          schema:
            type: string
        - name: Digits
          in: query
          description: digits entered by user.
          allowEmptyValue: true
          required: false
          schema:
            type: string
      summary: Handles entering an authorizer for the callbox phone number.
      responses:
        "200":
          description: It worked ig.
          content:
            application/xml:
              schema:
                type: string


  /phone/join-conference:
    post:
      summary: Join the Twilio conference as an authoriser.
      parameters:
        - name: secret
          in: query
          description: Auth secret.
          required: true
          schema:
            type: string
        - name: name
          in: query
          required: false
          description: The name of the Twilio conference to join.
          schema:
            type: string
        - name: attempt
          in: query
          required: false
          description: The call attempt number.
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/TwilioCallRequest"
      responses:
        "200":
          description: TwiML response placing the authoriser into the conference.
          content:
            application/xml:
              schema:
                type: string

  /phone/hold-music:
    post:
      summary: Plays ACNH music as hold music while caller waits.
      parameters:
        - name: secret
          in: query
          description: Auth secret.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: TwiML response that plays a looping audio track.
          content:
            application/xml:
              schema:
                type: string


  /callbox/settings:
    post:
      description: >
        Return the current callbox settings.
      security:
        - googleOIDC: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CallboxSettings"
      responses:
        "200":
          description: >
            Settings as synced with the backend.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallboxSettings'
        "500":
            description: Error.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
    get:
      description: >
        Returns the current settings for the callbox.
      security:
        - googleOIDC: []
      responses:
        "500":
          description: >
            Something went wrong.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "200":
          description: >
            Returns a list of phone numbers representing users
            who are authorised to approve entry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallboxSettings'
  /phone/number:
    get:
      summary: Returns the current phone number for the callbox.
      security:
        - googleOIDC: []
      responses:
        "200":
          description: It worked!
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPhoneNumberResponse'

  /grievances:
    get:
      security:
        - googleOIDC: []
      responses:
        "200":
          description: List grievances
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Grievance'
    post:
      security:
        - googleOIDC: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewGrievance'
      responses:
        "200":
          description: Created grievance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Grievance'

  /grievance/{id}:
    get:
      security:
        - googleOIDC: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: A grievance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Grievance'
    put:
      security:
        - googleOIDC: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewGrievance'
      responses:
        "200":
          description: Updated grievance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Grievance'
        "404":
          description: Not found
    delete:
      security:
        - googleOIDC: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Deleted
          content:
            application/json:
              schema:
                type: string

  /healthz:
    get:
      summary: Health check endpoint.
      description: >
        Returns a 200 OK response if the service is healthy.
      responses:
        "200":
          description: Service is healthy.
          content:
            application/json:
              schema:
                type: string
                enum: [OK]

  /.well-known/security.txt:
    get:
      summary: security.txt
      description: Security contact information.
      responses:
        "200":
          description: security.txt contents.
          content:
            text/plain:
              schema:
                type: string

  /security.txt:
    get:
      summary: security.txt
      description: Security contact information.
      responses:
        "200":
          description: security.txt contents.
          content:
            text/plain:
              schema:
                type: string

  /admin/uid:
    get:
      summary: Returns the caller's OIDC subject ID.
      security:
        - googleOIDC: []
      responses:
        "200":
          description: The subject identifier.
          content:
            text/plain:
              schema:
                type: string

