openapi: 3.0.4
info:
  title: zemn.me API
  version: 0.0.0

servers:
  - url: https://api.zemn.me
    description: Production
  - url: http://api.staging.zemn.me
    description: Staging

components:
  securitySchemes:
    googleOIDC:
      type: openIdConnect
      openIdConnectUrl: "https://accounts.google.com/.well-known/openid-configuration"
  schemas:
    Identity:
      type: object
      required:
        - sub
        - issuer
      properties:
        sub:
          description: >
            OIDC subject identifier for the useer.
          type: string
        issuer:
          description: >
            The issuer of the token. This is the URL of the OpenID Connect
            provider.
          type: string
          example: "https://accounts.google.com"
    Authorizer:
      type: object
      required:
        - phoneNumber
      properties:
        phoneNumber:
          $ref: "#/components/schemas/PhoneNumber"
    PhoneNumber:
      description: A single E.164 phone number.
      example: "+447823423420"
      type: string
      pattern: ^\+[1-9]\d{1,14}$

    EntryCode:
      description: A 5 digit PIN-like entry code that may be used by a user.
      example: "56734"
      type: string
      pattern: ^\d{5}$

    EntryCodeEntry:
      type: object
      required:
        - code
      properties:
        code:
          $ref: "#/components/schemas/EntryCode"

    CallboxSettings:
      description: >
        Settings object used by the callbox.
      type: object
      required:
        - authorizers
        - fallbackPhone
        - entryCodes
      properties:

        partyMode:
          description: >
            Whether the callbox is in party mode. In party mode, the callbox
            will not ask for a code and will immediately open the door.
          type: boolean

        authorizers:
          description: >
            A list of E.164 phone numbers. Authorizers are phone numbers that
            can be requested by the visitor — the callbox will then connect the
            authorizer who may press 9 at any time to approve visitor entry.
          type: array
          items:
            $ref: "#/components/schemas/Authorizer"

        fallbackPhone:
          description: >
            This number is called when the visitor does not request anything
            specific, or if the visitor fails to get in via some other method.

            It is a single E.164 phone number.

          $ref: "#/components/schemas/PhoneNumber"

        entryCodes:
          description: >
            A set of PIN-like numbers that may be used for immediate entry.
          type: array
          items:
            $ref: "#/components/schemas/EntryCodeEntry"

    GrievanceResponse:
      type: object
      required:
        - grievance
        - identity
      properties:
        grievance:
          $ref: "#/components/schemas/Grievance"
        identity:
          $ref: "#/components/schemas/Identity"
          description: >
            The identity of the user who submitted the grievance.

    Grievance:
      description: >
        Complaint from my partner.
      type: object
      required:
        - title
        - description
        - mood
        - severity
      properties:
        title:
          description: >
            Short descrioption of the grievance.
          type: string

        description:
          description: >
            Detailed description of the issue.
          type: string

        mood:
          description: >
            General feeling associated with the grievance. Integer 1-5.
          type: integer
          minimum: 1
          maximum: 5

        severity:
          description: >
            Severity of the grievance. Integer 1-5.
          type: integer

    Error:
      description: >
        Sent if an error occurs.
      type: object
      required:
        - cause
      properties:
        cause:
          type: string
          example: Too many concurrent requests.
    GetPhoneNumberResponse:
      description: >
        Object representing the current callbox phone number.
      type: object
      required:
        - phoneNumber
      properties:
        phoneNumber:
          $ref: "#/components/schemas/PhoneNumber"

paths:
  /phone/init:
    get:
      parameters:
        - name: secret
          in: query
          description: Auth secret.
          required: true
          schema:
            type: string
      summary: Entry point for twilio callbox phone number.
      responses:
        "200":
          description: It worked ig.
          content:
            application/xml:
              schema:
                type: string
  /phone/handleEntry:
    get:
      parameters:
        - name: secret
          in: query
          description: Auth secret.
          required: true
          schema:
            type: string
        - name: Digits
          in: query
          description: digits entered by user.
          required: false
          schema:
            type: string
      summary: Handles entering an authorizer for the callbox phone number.
      responses:
        "200":
          description: It worked ig.
          content:
            application/xml:
              schema:
                type: string


  /phone/join-conference:
    post:
      summary: Join the Twilio conference as an authoriser.
      parameters:
        - name: secret
          in: query
          description: Auth secret.
          required: true
          schema:
            type: string
        - name: name
          in: query
          required: false
          description: The name of the Twilio conference to join.
          schema:
            type: string
      responses:
        "200":
          description: TwiML response placing the authoriser into the conference.
          content:
            application/xml:
              schema:
                type: string

  /phone/hold-music:
    post:
      summary: Plays ACNH music as hold music while caller waits.
      parameters:
        - name: secret
          in: query
          description: Auth secret.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: TwiML response that plays a looping audio track.
          content:
            application/xml:
              schema:
                type: string


  /callbox/settings:
    post:
      description: >
        Return the current callbox settings.
      security:
        - googleOIDC: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CallboxSettings"
      responses:
        "200":
          description: >
            Settings as synced with the backend.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallboxSettings'
        "500":
            description: Error.
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/Error"
    get:
      description: >
        Returns the current settings for the callbox.
      security:
        - googleOIDC: []
      responses:
        "500":
          description: >
            Something went wrong.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "200":
          description: >
            Returns a list of phone numbers representing users
            who are authorised to approve entry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallboxSettings'
  /phone/number:
    get:
      summary: Returns the current phone number for the callbox.
      security:
        - googleOIDC: []
      responses:
        "200":
          description: It worked!
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPhoneNumberResponse'

  /greviance:
    post:
      summary: Add a new greviance.
      security:
        - googleOIDC: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Grievance"
      responses:
        "200":
          description: >
            The grievance was added successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Grievance'
        "500":
          description: >
            Something went wrong.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: Get all grievances.
      security:
        - googleOIDC: []
      responses:
        "200":
          description: >
            A list of grievances.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GrievanceResponse'
        "500":
          description: >
            Something went wrong.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
