# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
---

env:
  RENOVATE_VERSION: 38.140.2


name: Renovate
concurrency:
  # if another instance of renovate is running,
  # do not attempt to run overlapping instances.
  group: renovate
on: # yamllint disable-line rule:truthy
  schedule:
    # The "*" (#42, asterisk) character has special semantics in YAML, so this
    # string has to be quoted.
    - cron: '0/15 * * * *'
jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@a7e89c349a53ab0c9d8458eb85f4b415e55848e7 # v44.2.3
        with:
          configurationFile: renovate.json
          renovate-version: ${{ env.RENOVATE_VERSION }}
          token: ${{ secrets.GH_PAT }}
    env:
      LOG_LEVEL: 'error'
